.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: bold;
  color: #c7c7c7;
}

.inputGroup input {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #4a5568;
  background-color: #0D0C1D;
  color: #fff;
  font-size: 1rem;
}

.button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #0D0C1D;
  background-color: #E1B382;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start; /* Alinha o botão à esquerda */
}

.button:hover:not(:disabled) {
  background-color: #c7a37e;
}

.button:disabled {
  background-color: #374151;
  cursor: not-allowed;
}

.error {
  color: #ff8a80;
  margin-top: 0.5rem;
  font-weight: bold;
}

.success {
  color: lightgreen;
  margin-top: 0.5rem;
  font-weight: bold;
}